{
  "mcpServers": {
    "__SLUG__": {
      "type": "stdio",
      "command": "npx",
      "args": ["-y", "@modelcontextprotocol/server-everything"],
      "env": {
        "__ENV_PREFIX___API_TOKEN": "${__ENV_PREFIX___API_TOKEN}"
      }
    }
  }
}
